<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="org.iiitb.mt2011041.travelwizard.NewWizard1"
            id="org.iiitb.MT2011041.travelwizard.wizard1"
            name="org.iiitb.MT2011041.travelwizard.wizard1">
      </wizard>
   </extension>

</plugin>
